// Couleurs principales
$primary: #3ca0c8;
$bg-dark: #07202A;
$bg-light: #18576E;
$background: linear-gradient(to bottom, $bg-dark, $bg-light);
$bg-section: #2a2a2a;
// Couleurs des textes
$text-light: #f8f8f8;
$text-secondary: #c0c0c0;

$border-color-input: #c6c6c67a;
$button-primary-color: #2BA0C4;
$button-secondary-color: #2366a1;

$white: #ffffff;
$black: #000000;
$red: #6b0d0d;

// Typographie
$font-main: 'Raleway', sans-serif;
$font-secondary: 'Inter', sans-serif;